*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all .2s linear;
}

:root {
  /************Color**************/
  --color-bgc-header: #142440;
  --color-white: #fff;
  --color-dark: #666;
  --text-color1: #193a6f;
  --color-1: #ff4a44;
  /* --color-primary: #ff4f1f; */
  --color-primary2: #dc6601;

  /* #f44a07 */
  --color-light: #ccf0f3;
  --color-dark: #222;
  --box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
  --box-shadow2: 0 0 5rem rgba(0, 0, 0, 0.4);

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease-out;
}

html {
  font-size: 65%;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-dark);
  background: var(--color-primary);
}

/*****Reuseable Styling **********/
.container {
  width: var(--container-width-lg);
  margin: 2px 6%;
}

section {
  padding: 2rem 6%;
}

a {
  color: var(--color-white);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.heading {
  font-size: 20px;
  margin-top: 1rem;
  font-weight: bold;
  color: var(--text-color1);
}

.sub__heading {
  font-size: 4rem;
}

.btn {
  display: inline-block;
  background-color: var(--color-white);
  color: var(--color-dark);
  padding: 1rem 1.5rem;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 2rem;
  transition: var(--transition);
}

.btn:hover {
  background-color: transparent;
  color: var(--color-dark);
  border-color: var(--color-dark);
}
@media screen and (max-width: 1024px) {
    html {
        font-size: 57%;
      }
}
@media screen and (max-width: 630px) {


  .container {
    width: var(--container-width-sm);
  }
}